@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  color-scheme: only light !important;
}

*:focus {
  outline: solid 2px #06b6d4 !important;
}

.user-not-tabbing *:focus {
  outline: none !important;
}

input {
  border: 1px solid #cbd5e1 !important;
}

.mantine-TextInput-input:focus,
.mantine-TextInput-input:active,
input:focus,
input:active,
input:checked {
  border: 1px solid #06b6d4 !important;
}

@layer components {
  .outer-container {
    @apply px-4 sm:px-6 md:px-8 max-w-7xl m-auto w-full;
  }
}
