@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  color-scheme: only light !important;
}

@layer components {
  .outer-container {
    @apply px-4 sm:px-6 md:px-8 max-w-7xl m-auto;
  }
}
